In [5]:
# Dependencies
import pandas as pd

In [6]:
# Read the Vine.csv file

file_one = "C:/Users/tearo/Documents/Vine"

In [7]:
# Read our Data file with the pandas library

file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

C:\Users\tearo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Show just the header
file_one_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R18RVCKGH1SSI9,5,0.0,0.0,N,Y
1,R3L4L6LW1PUOFY,5,0.0,1.0,N,Y
2,R2J8AWXWTDX2TF,5,0.0,0.0,N,Y
3,R1PR37BR7G3M6A,1,2.0,3.0,N,Y
4,R3BDDDZMZBZDPU,4,0.0,0.0,N,Y

In [23]:
# create a new DataFrame that retrieves all the rows where the total_votes count is equal to or greater than 20

total_votes_greater_df = file_one_df[(file_one_df["total_votes"] >= 20)]
total_votes_greater_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
190,R243UXMMSSZVS6,2,254.0,254.0,N,Y
503,R2P92EHR0S5GBB,1,110.0,159.0,N,Y
556,RN93Z4XPNAANY,5,31.0,31.0,N,Y
754,R1O74T9XO3OPQ4,5,38.0,38.0,N,Y
1021,R3DMIHE5BMUT0R,3,21.0,21.0,N,Y

In [14]:
# avoid having division by zero errors later on

total_votes_greater_df = total_votes_greater_df.dropna(how='any')

In [24]:
# create a new DataFrame to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%

helpful_votes_percentage_df = file_one_df[file_one_df["helpful_votes"]/file_one_df["total_votes"] >= 0.5]
helpful_votes_percentage_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3,R1PR37BR7G3M6A,1,2.0,3.0,N,Y
7,R1V2HYL6OI9V39,5,6.0,6.0,N,Y
20,R8NWAB2MG94Z6,1,1.0,1.0,N,Y
28,R30E9O9RPVJ15T,1,1.0,1.0,N,Y
36,R10PO5EV793XK5,5,1.0,1.0,N,Y

In [25]:
# create a new DataFrame that retrieves all the rows where a review was written as part of the Vine program (paid)

vine_paid_df = file_one_df[file_one_df["vine"] == 'Y']
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
70,R2W2C9AQHPK31R,5,0.0,0.0,Y,N
128,R2DCXYKMNALS1O,5,0.0,0.0,Y,N
145,R21PW28B6AN7UZ,3,0.0,0.0,Y,N
196,R1R8X057QIPR5V,4,0.0,0.0,Y,N
711,R1D7JY5YFX00HB,3,0.0,0.0,Y,N

In [26]:
# create a new DataFrame that retrieves all the rows where a review was not part of the Vine program (unpaid)

vine_unpaid_df = file_one_df[file_one_df["vine"] == 'N']
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R18RVCKGH1SSI9,5,0.0,0.0,N,Y
1,R3L4L6LW1PUOFY,5,0.0,1.0,N,Y
2,R2J8AWXWTDX2TF,5,0.0,0.0,N,Y
3,R1PR37BR7G3M6A,1,2.0,3.0,N,Y
4,R3BDDDZMZBZDPU,4,0.0,0.0,N,Y

In [50]:
#  Get the total number of  reviews for the paid review 
a1 = file_one_df.loc[(file_one_df["vine"] == 'Y'), "review_id"].count()
print(a1)

29188

In [51]:
#  Get the total number of  reviews for the unpaid review 
a2 = file_one_df.loc[(file_one_df["vine"] == 'N'), "review_id"].count()
print(a2)

2613215

In [52]:
#  Get the number of 5-star reviews for the paid review 
b1= file_one_df.loc[(file_one_df["vine"] == 'Y')  & (file_one_df["star_rating"] == 5), "star_rating"].count()
print(b1)

13576

In [53]:
#  Get the number of 5-star reviews for the Unpaid review 
b2 = file_one_df.loc[(file_one_df["vine"] == 'N')  & (file_one_df["star_rating"] == 5), "star_rating"].count()
print(b2)

1399312

In [60]:
#  Get the percentage of 5-star reviews for the paid review 

c1 = (b1/a1) * 100
print(c1)

46.51226531451281

In [61]:
#  Get the percentage of 5-star reviews for the unpaid review 
c2 = (b2/a2) * 100
print(c2)

53.54752670560976